/*GENERAL*/
.btn {
    border: none;
    margin: 30px;
}

.btn:hover {
    color: white!important;
}

h2,
h1 {
    padding: 40px;
}


.titre-h2 {
    font-size: 2.5em;
}

h3,
.i-service {
    color: #17A2B8;
}

hr {
    border: 0.5px solid black;
    width: 200px;
}

.titre{
    background: rgba(100, 100, 100, 0.5);
}

img {
    width: 100%;
}
/*HEADER*/

.header-img {
    background: url('../img/people-2590796_1280%20copy.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;

}

.black {
    background: black!important;
    color: white!important;
    transition: 1s;
}

.black li a.nav-item,
.black li a.nav-link {
    color: white!important;
}

.navbar-dark {
    transition: 1s;
}

.logo {
    width: 150px;

}

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;

}

/*CORPS*/


.service {

    padding-bottom: 30px;
}

.offre-img {
    padding-top: 30px;
    padding-bottom: 30px;
}

.rdv-img {
    background: url('../img/treadmill-1201014_1280%20copy.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

.well-block {
    color: white;
    /*    border: 1px solid #e9e6e8;*/
    /*    padding: 40px;*/
}

.well-title {
    margin-bottom: 40px;
}



.about {
    background: url('../img/girl-boxer-1333600_1280%20copy.jpg');
    background-size: cover;
    background-repeat: n;
    background-position: right;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

.programs {
    background: url('../img/smog-1488962_1280%20copy.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 550px;
    width: 100%;

}

.photo {
    background: url('../img/tyre-flipping-2141109_1280%20copy.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

.video {
    background: url('../img/blur-1972569_1280%20copy.jpg')     ;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

.contact {
    background: url('../img/treadmill-1201014_1280%20copy.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

/*PHOTO ET VIDEO */

#photo {
    background: url('../img/fitness-465203_1280%20copy.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    padding-right: 0px;
}

#video {
    background: url('../img/blur-1972569_1280%20copy.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    padding-right: 0px;
}

/*ABOUT*/

#about {
    background: url('../img/bodybuilder-925770_1280%20copy.jpg');
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: 100%;
    padding-right: 0px;
}

.about-img img{
    height: 400px;
    width: 500px;
    padding: 15px;
}

/*PROGRAMME*/
 
#programme{
     background: url('../img/people-2572265_1280%20copy.jpg');
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: 100%;
    padding-right: 0px;
}
}

.service1 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
    
}

.service1:hover {
    background-color: darkblue;
    color: white!important;
    opacity: 0.7;

}

.service2 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
}

.service2:hover {
    background: darkred;
    color: white!important;
    opacity: 0.7;


}

.service3 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
}

.service3:hover {
    background-color: darkgreen;
    color: white!important;
    opacity: 0.7;

}

.i-suivi{  
    color: darkblue;
}


.i-sportif{  
    color: darkred;
}


.i-nutritif{  
    color: darkgreen;
}

/*CONTACT*/

#contact{
     background: url('../img/muscle-2459720_1280%20copy.jpg')    ;
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: 100%;
    padding-right: 0px;
}

#contact-page {
  background: url("https://res.cloudinary.com/elcoilombe/image/upload/v1527866808/box-1609657_1280.jpg") no-repeat;
background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
    padding: 50px 0 20px 0;
}

iframe{
    padding-top: 20px;   
}





/* Conatct start */

.header-title {
    text-align: center;
    color: #00bfff;
}

#tip {
    display: none;
}

.fadeIn {
    animation-duration: 3s;
}

.form-control {
    border-radius: 0px;
    border: 1px solid #EDEDED;
}

.form-control:focus {
    border: 1px solid #00bfff;
}

.textarea-contact {
    resize: none;
}

.btn-send {
    border-radius: 0px;
    border: 1px solid #00bfff;
    background: #00bfff;
    color: #fff;
}

.btn-send:hover {
    border: 1px solid #00bfff;
    background: #fff;
    color: #00bfff;
    transition: background 0.1s;
}

.second-portion {
    margin-top: 50px;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon {
    text-align: center;
    position: relative;
}

.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #00bfff;
    vertical-align: middle;
}

.box > .icon:hover > .image {
    background: #333;
}

.box > .icon > .image > i {
    font-size: 36px !important;
    color: #fff !important;
}

.box > .icon:hover > .image > i {
    color: white !important;
}

.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
    min-height: 163px;
}

.box > .icon:hover > .info {
    background: rgba(0, 0, 0, 0.04);
    border-color: #e0e0e0;
    color: white;
}

.box > .icon > .info > h3.title {
    font-family: "Robot", sans-serif !important;
    font-size: 16px;
    color: #222;
    font-weight: 700;
}

.box > .icon > .info > p {
    font-family: "Robot", sans-serif !important;
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}

.box > .icon:hover > .info > h3.title,
.box > .icon:hover > .info > p,
.box > .icon:hover > .info > .more > a {
    color: #222;
}

.box > .icon > .info > .more a {
    font-family: "Robot", sans-serif !important;
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box > .icon:hover > .info > .more > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #63B76C;
}

.box .space {
    height: 30px;
}



@media only screen and (max-width: 768px) {
    .contact-form {
        margin-top: 25px;
    }

    .btn-send {
        width: 100%;
        padding: 10px;
    }

    .second-portion {
        margin-top: 25px;
    }
}

#parent {
    padding-top: 30px;
    margin-top: 30px;
}

/* Conatct end */

/*FOOTER*/

footer {
    background: ;
    /*    margin: 15px 0 10px 0;*/
    color: ;

}

footer a {
    color: white;
}

footer a:hover {
    color: #17A2B8;
}

footer a:active {
    color: red;
}

footer img {
    width: 120px;
}

#singlebutton:hover {
    background: #17A2B8;
    color: white!important;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .well-title,
    .ook {
        display: none;

    }
    .btn-info {
        background: #17A2B8;
        color: white!important;
    }
    .about {
        background-position: right!important;
        background-attachment: local;
        padding-right: 0px;
    }

    .rdv-img {
        background-position: center!important;
        background-attachment: local;
        background: url('../img/street-workout-2682499_1280%20copy.jpg');
        background-size: cover;
        height: 550px;
        width: 100%;
    }

    .programs {
        background-position: center!important;
        background-attachment: local;
    }

    .galerie {
        background-position: center!important;
        background-attachment: local;
    }
    
    .video{
        background-position: center!important;
        background-attachment: local;
    }
    
    .photo{
        background-position: center!important;
        background-attachment: local;
    }
    
    #contact-page{
        background-position: center!important;
        background-attachment: local;
    }
    
    #programme{
        background-position: center!important;
        background-attachment: local;
    }
    
   

    .contact {
        background-position: center!important;
        background-attachment: local;
        background: url('../img/chalk-2307894_1280%20copy.jpg');
        background-size: cover;
        height: 550px;
        width: 100%;
    }
    
    .about-img img{
        width: 300px;
        height: 300px;
    }

    .black {
        background: black!important;
        color: white;

    }
    .black li a.nav-item,
    .black li a.nav-link {
        color: white!important;
    }
    .navbar-toggler {
        background: dimgrey;
    }
    
    .lui{
        display: none;
    }
    
    strong{
    font-size: 25px;
}
    .logo{
        width: 100px;
    }
   
}
